{% extends 'base.html' %}

{% block content %}


<section class="card card-body">
    <div class="col-md-4 offset-md-4">
        <h1 class="display-3 text-center">Task Detail</h1>
        
        <form  method="POST">
            {% csrf_token %}
            
            {{form}}
            <button class="btn btn-primary">
                update
            </button>
            <div class="d-flex justify-content-center align-items-center gap-3">
            
                <form  action="{% url 'complete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    
                    <button class="btn btn-primary">
                        complete
                    </button>
                </form>
                <form  action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    
                    <button class="btn btn-primary">
                        delete
                    </button>
                </form>
            </div>
        </form>
        
    </div>
</section>



{% endblock %}